body,
html
	height 100%

body
	font-family Arial
	color #333
	line-height 1.5
	font-size 18px
	background #f3f3f3

.clearfix
	clearfix()

.align
	&-center
		text-align center

	&-right
		text-align right

	&-left
		text-align right

.mainwrap
	min-height 100%
	margin-bottom - $footerHeight

	&:after
		content ''
		display block
		height $footerHeight
