body,
html
	height 100%

body
	color #333
	background #fff

.clearfix
	clearfix()

.center
	text-align center

.mainwrap
	min-height 100%
	margin-bottom -141px
	&:after
		content ""
		display block
		height 140px
		
.footer,
.mainwrap
	hieght 140px
