@font-face {
	font-family: 'PFDinTextBold';
	src: url('../../fonts/PFDinTextUniversal-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal-Bold.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal-Bold.woff') format('woff'), url('../../fonts/PFDinTextUniversal-Bold.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal-Bold.svg#PFDinTextUniversal-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextExtraBlack';
	src: url('../../fonts/PFDinTextUniversal-ExtraBlack.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal-ExtraBlack.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal-ExtraBlack.woff') format('woff'), url('../../fonts/PFDinTextUniversal-ExtraBlack.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal-ExtraBlack.svg#PFDinTextUniversal-ExtraBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextExtraThin';
	src: url('../../fonts/PFDinTextUniversal-ExtraThin.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal-ExtraThin.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal-ExtraThin.woff') format('woff'), url('../../fonts/PFDinTextUniversal-ExtraThin.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal-ExtraThin.svg#PFDinTextUniversal-ExtraThin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextHairline';
	src: url('../../fonts/PFDinTextUniversal-Hairline.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal-Hairline.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal-Hairline.woff') format('woff'), url('../../fonts/PFDinTextUniversal-Hairline.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal-Hairline.svg#PFDinTextUniversal-Hairline') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextLight';
	src: url('../../fonts/PFDinTextUniversal-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal-Light.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal-Light.woff') format('woff'), url('../../fonts/PFDinTextUniversal-Light.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal-Light.svg#PFDinTextUniversal-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextMedium';
	src: url('../../fonts/PFDinTextUniversal-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal-Medium.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal-Medium.woff') format('woff'), url('../../fonts/PFDinTextUniversal-Medium.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal-Medium.svg#PFDinTextUniversal-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextRegular';
	src: url('../../fonts/PFDinTextUniversal.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal.woff') format('woff'), url('../../fonts/PFDinTextUniversal.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal.svg#PFDinTextUniversal') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextThin';
	src: url('../../fonts/PFDinTextUniversal-Thin.eot?#iefix') format('embedded-opentype'), url('../../fonts/PFDinTextUniversal-Thin.otf') format('opentype'),
	url('../../fonts/PFDinTextUniversal-Thin.woff') format('woff'), url('../../fonts/PFDinTextUniversal-Thin.ttf') format('truetype'), url('../../fonts/PFDinTextUniversal-Thin.svg#PFDinTextUniversal-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
