head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='cleartype' content='on')

	block head
	title= pageTitle
	meta(name='description' content=pageDescription)
	meta(name='keywords' content=pageKeywords)
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")

	link(href='css/main.css' rel='stylesheet')
