// Placeholder font color
placeholder($color, $focusColor)
	&::-webkit-input-placeholder
		color $color
		transition color .375s

	&:-ms-input-placeholder
		color $color
		transition color .375s

	&::-moz-placeholder
		color $color
		opacity 1
		transition color .375s

	&:-moz-placeholder
		color $color
		opacity 1
		transition color .375s

	&:focus

		&::-webkit-input-placeholder
			color $focusColor
			transition color .175s

		&:-ms-input-placeholder
			color $focusColor
			transition color .175s

		&::-moz-placeholder
			color $focusColor
			opacity 1
			transition color .175s

		&:-moz-placeholder
			color $focusColor
			opacity 1
			transition color .175s
