// Clear the float on any element.
clearfix()
  &:after
    display table
    clear both
    content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
  background-image linear-gradient(transparent, transparent)

// Inner constructor
inner($maxWidth, $minWidth, $padding)
  margin 0 auto
  max-width $maxWidth
  min-width $minWidth
  padding-right $padding
  padding-left $padding

// Placeholder font color
placeholder($color, $focusColor)
  &::-webkit-input-placeholder
    color $color
    transition color .375s
    
  &:-ms-input-placeholder
    color $color
    transition color .375s
    
  &::-moz-placeholder
    color $color
    opacity 1
    transition color .375s
    
  &:-moz-placeholder
    color $color
    opacity 1
    transition color .375s
    
  &:focus
    
    &::-webkit-input-placeholder
      color $focusColor
      transition color .175s
      
    &:-ms-input-placeholder
      color $focusColor
      transition color .175s
      
    &::-moz-placeholder
      color $focusColor
      opacity 1
      transition color .175s
      
    &:-moz-placeholder
      color $focusColor
      opacity 1
      transition color .175s
    