@font-face {
	font-family: "sprite-svg";
	src: url('../fonts/sprite/sprite-svg.eot');
	src: url('../fonts/sprite/sprite-svg.eot?#iefix') format('eot'),
		url('../fonts/sprite/sprite-svg.woff') format('woff'),
		url('../fonts/sprite/sprite-svg.ttf') format('truetype'),
		url('../fonts/sprite/sprite-svg.svg#sprite-svg') format('svg');
}

.icon:before {
	font-family: "sprite-svg";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-gp:before {
	content: "\E001";
}

.icon-tw:before {
	content: "\E002";
}

.icon-vk:before {
	content: "\E003";
}
